[user]
  email = namutaka+g@gmail.com
  name = namu

[core]
  excludesfile = /Users/namu/.git-excludes
  quotepath = false

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  last = log -1 HEAD
  ds = diff --stat
  ca = diff --cached
  cs = diff --cached --stat
  vd = difftool -t macvimdiff
  df = !git --no-pager diff

[difftool]
  prompt = false

[difftool "macvimdiff"]
  cmd = "git_diff_macvim \"$LOCAL\" \"$REMOTE\""

[pager]

[color]
  ui = auto

