[user]
	email = namutaka+g@gmail.com
	name = namu
[core]
	excludesfile = /Users/namu/.git-excludes
[alias]
	co = checkout
    br = branch
    ci = commit
    st = status
    di = diff --color
    last = log -1 HEAD

