.lesshst
.viminfo
.bash_history
.irb_history
.gitk
.CFUserTextEncoding
.Trash/
Desktop/
Downloads/
Documents/
Movies/
Music/
Pictures/
Public/
Sites/
dev/
Library/
.macports/
.m2/
.cpan/
.gem/
.ssh/
.subversion/
.vim/
.groovy/
